<form id="redirect" method="post" name="redirect" action="<%= @ccavenue_request_url %>">
    <input type="hidden" name="encRequest" value="<%= @encRequest %>">
    <input type="hidden" name="access_code" id="access_code" value="<%= @ccavenue_access_code %>">
    <button type="submit" class="btn btn-danger">Submit</button>
</form>

